<mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="addToHomeScreenService.showButton">
        <span class="example-spacer"></span>
        <button mat-raised-button color="accent" (click)="addToHomeScreenService.addToHomeScreen()">Add to home
            screen</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Super App</span>
        <div *ngIf="isLogged">
            <!-- <a [routerLink]="['home']">Home</a>
            <a [routerLink]="['profile']">Profile</a>
            <a [routerLink]="['facial-rekognition']">Facial</a> -->
        </div>
        <span class="example-spacer"></span>
        <!-- <span>Olá, {{authService.getUser?.name.split(' ')[0]}} </span> -->
        <button mat-raised-button color="accent" (click)="authService.logout()">Sair</button>
    </mat-toolbar-row>
</mat-toolbar>