<ul *ngIf="isLogged">
    <li>
        <a [routerLink]="['home']">Home</a>
    </li>
    <li>
        <a [routerLink]="['profile']">Profile</a>
    </li>
    <li>
        <a [routerLink]="['facial-rekognition']">Facial Rekognition</a>
    </li>
    <!-- <li>
        <a [routerLink]="['']" (click)="pushService.subscribeToNotification()">Receber notificações</a>
    </li> -->
    <li>
        <span>Olá, {{authService.getUser.name.split(' ')[0]}} </span><a [routerLink]="['']" (click)="authService.logout()">Sair</a>
    </li>
</ul>